html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8e2020;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    -webkit-text-stroke: 1px black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    max-width: 20%;
    height: auto;
}

.hero {
    color: black;
    text-align: center;
    flex: 1; /* Adicionado para ocupar o espaço restante */
}

.hero h2 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e2020;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #8e2020;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
